@import "tailwindcss";

@layer base {
  body {
    background-color: #030712;
    color: #f1f5f9;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    overflow-x: hidden;
  }
}
